.WeatherForecast{
	text-align: center;
}
.WeatherForecast .weather-forecast-all{
	margin-top: 40px;
}
.WeatherForecast .weather-forecast-column{
	background-color: #ffffff;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #b9babc;
	border-radius: 5px;
	transition: all 0.2s ease-in-out 0s;
}
.WeatherForecast .weather-forecast-column:hover{
	border-color: #00ff9d;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 204, 0.6);
	transform: scale(1.1);
}
.WeatherForecast .forecast-day{
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}
.WeatherForecast .forecast-temperatures{
	font-size: 18px;
	margin-top: 10px;
}
.WeatherForecast .forecast-temperature-min{
	opacity: 0.8;
}
.WeatherForecast .forecast-temperature-max{
	font-weight: 500;
	margin-left: 5px;
}
